{% extends "/layouts/" ~ layout ~ ".twig" %}

{% block pageTitle %}ClamAV Web - Schedule a Scan{% endblock %}

{% block content %}
    <h2>ClamAV Scan Scheduling</h2>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Schedule a Scan</div>
        </div>
        <div class="panel-body">
            <form method="post" action="{{ url("addJobToQueue") }}" class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" id="username" name="username" class="form-control" required="required">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="alertEmail" class="col-sm-2 control-label">Send Report</label>
                    <div class="col-sm-10">
                        <input type="email" id="alertEmail" name="alertEmail" class="form-control" required="required" placeholder="Please enter one valid email address">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="excludeDirs" class="col-sm-2 control-label">Exclude Dirs</label>
                    <div class="col-sm-10">
                        <input type="text" id="excludeDirs" name="excludeDirs" class="form-control" placeholder="Currently Does Nothing! Comma separated values (can use regex)">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="excludeFiles" class="col-sm-2 control-label">Exclude Files</label>
                    <div class="col-sm-10">
                        <input type="text" id="excludeFiles" name="excludeFiles" class="form-control" placeholder="Currently Does Nothing! Comma separated values (can use regex)">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-time"></span>
                            Schedule
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Jobs: Waiting and Running</h3>
            </div>
            <div class="panel-body">
                {% if waitAndRunJobs|length > 0 %}
                    {% for job in waitAndRunJobs %}
                        <p>
                            <span class="label {% if job.state == "waiting" %}label-info{% else %}label-warning{% endif %}">{{ job.state|capitalize }}</span>
                            <span>{{ job.username }}</span>
                            <span>{{ job.addedAt|date }}</span>
                        </p>
                    {% endfor %}
                {% else %}
                    <p>Currently, there are no jobs waiting or running.</p>
                {% endif %}
                <a href="{{ url("listAllJobs") }}" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    View all jobs
                </a>
            </div>
        </div>        
    
{% endblock %}